body {
    background-color: #F6CFBE;
    /* for browsers which don't support gradients */
    background-image: linear-gradient(to right, #F6CFBE, #B9DCF2);
    color: #253237;
}

h1 {
    text-align: center;
    font-size: 2em;
}